/**
 * @section Base Styles
 */

body {
	margin: 0 auto;
	width: 100%;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: $black;
	font-family: 'Raleway', sans-serif;
	// background-color: #FAFAFA !important;
	background-color: #FFF !important;
	max-width: 800px;
	margin: 0 auto;
}

h1,
h2, 
h3,
span,
p {
	font-family: 'Raleway', sans-serif;
	margin: 0px;
	padding: 0px;
	font-weight: normal;
}

h1 {
	font-weight: normal;
	color: #006FCF;
	font-size: 18px;
	line-height: 24px;
}

h2 {
	font-size: 16px;
	line-height: 22px;
}

h3 {
	color: #006FCF;
	font-size: 18px;
	line-height: 22px;
}

p {
	color: $black;
	padding-bottom: 30px;
}


section {
	@include media(1280px) {
		padding: 0 calc(40px + (50% - (1280px / 2)));
	}
}


