/**
 * @section Form Styles
 */

 header {
 	padding: 30px 20px 10px 20px;
 	position: relative;
 	text-align: center;
 }

 h1 {
 	display: block;
 	background: $white;
 	color: #000;
 	margin-bottom: 0;
 	position: relative;
 }
